
<div class="container border shadow p-3 mt-5 bg-white w-50 mx-auto">
     <a href="/patient/{{patient.userID}}"><i class="fa-solid fa-arrow-left fs-5 text-dark"></i></a>
    <h1 class="text-center">Change Password</h1>
    <div class="row">
        <div class="col-12">
            <form action="/changePasword-patient/{{patient._id}}" method="post">
                <div class="col-12 mb-3">
                    <label class="form-label">Your Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="col-12">
                    <label class="form-label">New Password</label>
                    <input type="password" class="form-control" name="nPassword">
                </div>
                 <div class="col-12 mt-5">
                    <button type="submit" class="btn btn-primary w-100">Change Password</button>
                </div>
                <p class="text-danger">{{error}}</p>
            </form>
        </div>
    </div>
</div>