<div class="container border shadow bg-white h-75 mt-5">
    <h1 class="text-center pt-3">Home Patient {{patient.name}}!</h1>
    <div class="row">
        <div class="col-12 d-flex justify-content-end mt-4">
            <a class="btn btn-info text-white" href="/consultPatient/{{patient._id}}">Consult Observations</a>
            <a class="mx-3 btn btn-secondary" href="/changePasword-patient/{{patient._id}}">Change password</a>
            <a class="me-3 btn btn-danger" href="/">exit</a>
        </div>
    </div>
</div>