<div class="container h-100 mt-5">
    <div class="row w-100 border p-3 bg-white shadow">
        <h1 class="text-center text-decoration-underline pb-5">Register Hospital</h1>
        <div class="col-12">
            <form action="/singUp-hospital/{{userID}}" method="post" class="row g-3">
                <div class="col-12">
                    <a href="/"><i class="fa-solid fa-arrow-left fs-5 text-dark"></i></a>
                </div>
                <div class="col-md-12">
                    <label class="form-label">Full Name</label>
                    <input type="text" class="form-control" name="name">
                </div>
                <div class="col-6">
                    <label class="form-label">Medical Service</label>
                    <input type="text" class="form-control" name="services">
                </div>
                 <div class="col-6">
                    <label class="form-label">Address</label>
                    <input type="text" class="form-control" name="address" placeholder="Cra 07 #10-17">
                </div>
                <div class="col-12">
                    <button type="submit" class="btn btn-primary w-100">Sign in Hospital</button>
                </div>
                <p class="text-danger">{{error}}</p>
            </form>
        </div>
    </div>
</div>