<div class="container h-100 mt-5">
    <div class="row w-100 border p-3 bg-white shadow">
        <p><a href="/doctor/{{doctorID}}">back</a></p>
        <h1 class="text-center text-decoration-underline pb-5">Show Observation</h1>
        <div class="col-12">
            <h3>Service Medical: {{hospital.services}}</h3>
            <h3>Observation Medical: {{observation.description}} </h3>
            <h3>State: {{observation.state}}</h3>

        </div>
    </div>
</div>
